@charset "utf-8";
/* CSS Document */

header{
		clear:both;
		height:50px;
		background-color:#D01F3C;
		padding:20px;
		vertical-align:middle;
		color:#FFFFFF;
		}
div#left {
	float:left;
	width:150px;
	background-color:#FFFFFF;
	margin:20px;
	padding:5px;
	margin-left:5px;
	}	
.art p {
	text-align:left;
	font-family:"楷体_GB2312""微软雅黑""幼圆""Times New Roman" serif;
	font-size:14px;
	letter-spacing:2px;
	}	
div#middle{
	/*float:left;
	font-size:2px;*/
	letter-spacing:2px;
	font-family:"楷体_GB2312""微软雅黑""幼圆""Times New Roman" serif;
	text-align:center;
	
}